* {
    box-sizing: border-box;
}

:root {
  --background: white;
  --color: #222;
}

.dark-theme {
  --background: #222;
  --color: white;
}


body {
  font-family: Roboto, sans-serif;
  background: var(--background);
  color: var(--color);
  display:flex;
  flex-direction: column;
}
h1 {
  font-size: 20px;
  border-bottom: 1px solid #000;
}

button {
  background-color: #FFBF00; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:8px;
  cursor: pointer;
}



.mainButtons{
  flex: 1 0 10%;
  display: flex;
  justify-content:space-between;
  margin-bottom: 1rem;
}

.listManipulation{
  flex: 1 0 10%;
  display:flex;
  justify-content:space-between;
  margin-bottom: 1rem;
}

.listSort{
  justify-content:start
}

.listFilter{
  justify-content:end
}

.todoList{
  flex: 1 0 10%;
  display:flex;
  justify-content: flex-start;
  flex-direction:column;
  margin-bottom: 1rem;
  text-align:start;
}

.todo{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #000;
}

footer{
  flex: 0 0 5%;
  margin-bottom: 1rem;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background); /* Black background with opacity*/
  /*cursor: pointer; /* Add a pointer on hover */
}


#overlay-content{
  margin-right: 20vw;
  margin-left: 20vw;
}

#form-content {
  display: flex;
  flex-wrap: wrap;
}

label {
  flex: 0 0 20%;
}

textarea,
input,
select {
  flex: 0 0 75%;
  margin-bottom: 5px;
}

#state-checkbox{
  flex: 0 0 100%;
  margin-left: 20%;
}

input[type=checkbox]{
  flex: 0 0 auto;
}

textarea {
  height: 150px;
}

.Overlay-Buttons{
  display:flex;
  justify-content:space-between;
}
